<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cheonjunhyeon.ssgdoorlock">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:noHistory="true">
        <activity android:name=".SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".SetPasswdActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:noHistory="true"/>

        <activity android:name=".ChkPasswdActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:noHistory="true"/>

        <activity android:name=".ConnectionActivity" />

        <activity android:name=".SetLonLagActivity">

        </activity>

        <activity android:name=".SensorTest">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".initActivity"
            android:noHistory="true">
        </activity>

        <service android:name=".DoorLockService" />
        <service android:exported="false" android:name=".ForeGroundService" android:process=":locker" />
    </application>
</manifest>